@charset 'utf-8';

* {
	font-family: '微軟正黑體', 'Microsoft JhengHei' !important;
}

html, body {
	height: 100%;
}

h1 {
	font-size: 45px;
}

.content-wrapper {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding-bottom: 60px;
}

footer.navbar-bottom {
	height: 60px;
	border-radius: 0;
	margin-bottom: 0;
}

footer.navbar-bottom ul {
	margin: 15px 0;
}

footer.navbar-bottom li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

footer.navbar-bottom li a {
	color: #fff;
}